<div class="text-center">
    <h2 class="display-4">Správa výpůjček</h2>
    <hr/>
    <div class="text-right">
        <a asp-controller="Rental" asp-action="Create" class="btn btn-success">Vytvořit novou výpůjčku</a>
    </div>
    <br/>
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    Výpůjčka č.
                </th>
                <th>
                    Id kola
                </th>
                <th>
                    Datum vypůjčení
                </th>
                <th>
                    Datum vrácení
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Jméno vypůjčitele
                </th>
                <th>
                    Akce
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var rent in (IEnumerable<Rental>)ViewBag.Rentals)
        {
            <tr>
                <td width="25%">@rent.Id</td>
                <td width="25%">@rent.BikeId</td>
                <td width="25%">@rent.Start.ToShortDateString()</td>
                <td width="25%">@rent.End.ToShortDateString()</td>
                <td width="25%">@rent.Price</td>
                <td width="25%">@rent.CustomerName</td>
                <td width="25%">
                    <div class="w-100 btn-group" role="group">
                        @Html.ActionLink("Upravit", "Edit", new { id = rent.Id }, new { @class = "btn btn-primary mx-1" })
                        @Html.ActionLink("Smazat", "Delete", new { id = rent.Id }, new { @class = "btn btn-danger mx-1" })
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>