@model Bike



<div class="container">
    <h4>Odstranit kolo: @Html.DisplayFor(model => model.BikeName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikeType)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Smazat" class="btn btn-danger" />
    
    }
    @Html.ActionLink("Zpět", "Index")
</div>